/* :root are the attributes*/
:root {
  --green1: #d9ed92;
  --green2: #b5e48c;
  --green3: #99d98c;
  --green4: #76c893;
  --green5: #52b69a;
  --blue1: #34a0a4;
  --blue2: #168aad;
  --blue3: #1a759f;
  --blue4: #1e6091;
  --blue5: #184e77;
}
/*Changing the color of text selection*/
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--green4);
}
/*Changing the color of text selection*/
::selection {
  /* Code for the other browser*/
  color: white;
  background: var(--green4);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*
scroll-snap-type: y mandatory;
scroll-behavior:smooth;*/
  /*Smooth scroll effect without using javascript*/
}

/**Scroll Snaps**/
/*
.title,
.about-me,
.skills,
.leadership,
.form,
.footer {
scroll-snap-align: center;
scroll-snap-stop: always;
}
*/

/*Box Model code snippet*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Spectral", serif;
  background-color: var(--green3);

  margin: 0px;
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/**NAVIGATION**/
.navigation {
  background-color: #1a759f9c;
  padding: 1rem;
}

.navigation__link {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: normal;
  padding: 1rem;
  
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .button {
    width: auto;
  }
}
