/* :root are the attributes*/
:root {
  --bluegrey: #525564;
  --grey: #758390;
  --blue: #96c0cd;
  --lightgrey: #beb9b5;
  --red: #c35b56;
  --pale: #fff6eb;
  
}
/*Changing the color of text selection*/
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--blue);
}
/*Changing the color of text selection*/
::selection {
  /* Code for the other browser*/
  color: white;
  background: var(--blue);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*
scroll-snap-type: y mandatory;
scroll-behavior:smooth;*/
  /*Smooth scroll effect without using javascript*/
}

/*Box Model code snippet*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px*/
  font-family: "Spectral", serif;
  background-color: var(--pale);

  margin: 0px;
  color: white;
}

h1,
h2,
h3 {
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/**Header**/
header h1 {
  color: var(--red);
  font-size: 5rem;
  text-align: left;
  margin-left: 5rem;
  margin-top: 0rem;
  margin-bottom:0rem;
}

span {
  color: black;
  font-size:3rem;
}

/**NAVIGATION**/
.navigation {
  margin-top: 4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  
  
}
.navigation__link {
  display: block;
  text-align:center;
  color: var(--red);
  text-decoration: none;
  font-size: 2.1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2rem;
    
  }
  .navigation__link {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  
}
